@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper{
    max-width: 100%;
    height: 740px;
    background-image: url('./images/header-bg.jpg');

}

.container{
    max-width: 1124px;
    margin: 0 auto;
}

.header__top{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 95px;
}

.header__btn{
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;
}

.menu-logo{
    top: -2px;
    left: -2px;
    position: absolute;
}

.header__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header__title{
    max-width: 734px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.header__subtitle{
    margin: 23px 0 133px 0;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.numbers__wrapper{
    background-color: #F7F7F7;
    width: 1110px;
    height: 300px;
    margin: 0 auto;
}

.numbers__content{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.numbers__item{
    text-align: center;
    margin-top: 60px;
}

.number{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
}

.numbers__title{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.numbers__subtitle{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}

.numbers__item + .numbers__item{
    margin-left: 100px;   
}

.about__wrapper{
    margin-top: 91px;
}

.about__title{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 71px;
}

.about__content{
    display: flex;
}
.about__item + .about__item{
    margin-left: 30px;
}

.about__item{
    max-width: 350px;
}

.about__item span{
    background: #F7654A;
    width: 55px;
    min-height: 6px;
}

.about__img{
    max-width: 350px;
    height: 380px;
}

.about__item-title{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;
    margin: 15px 0 20px;
}

.about__item-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.footer__wrapper{
    max-width: 100%;
    height: 181px;
    background: #F7654A;
    margin-top: 50px;
}

.footer__content{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__title{
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 74px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer__subtitle{
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer__email{
    display: flex;
    background: #FFFFFF;
    width: 175px;
    height: 49px;
    align-items: center;
    justify-content: center;
}

.footer__email-text{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 15px;
}